@model int

<div class="container row">
    <div class="col-12 mt-3 text-center">
        <h1 class="text-primary text-center">Uspesno ste izvrsili rezervaciju i time osigurali vase mesto!</h1>
        Broj vase rezervacije : @Model <br /><br />

        <img src="~/images/potvrda.jpg" width="65%" />
    </div>
    <div class="col-12 text-center text-primary" style="color:maroon">
        <br />
        <strong>
            Hvala sto ste odabrali bas nas!
        </strong> <br />
        
    </div>
</div> 
