@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ovoj stranici ima pristup samo Admin!";
}

<header>
    <h1 class="text-primary">@ViewData["Title"]</h1>
    <p class="text-primary">:(</p>
</header>
