@{
    ViewBag.Title = "Kontakt";
}
<div class="col-12 row mt-4">


<div class="col-8 p-4">
    <h2>@ViewBag.Message</h2>
    <p>Tu smo da vam omogućimo nezaboravna putovanja prilagođena vašim željama.</p>
    <p> S našim stručnim timom agenata, osiguravamo personaliziranu podršku i profesionalnost u planiranju vašeg savršenog odmora. Kontaktirajte nas kako bismo zajedno stvorili Vase putovanje iz snova!</p>
    <p>Nalazimo se na dve lokacije u <strong>Novom Sadu</strong>, a osim toga možete da nas kontaktirate i putem mejla koji nalazi u nastavku.</p>

    
</div>
<div class="col-4 p-3 mx-auto">

        <h4>Novi Sad 1</h4>
        <address>
            Stražilovska 117,<br />
            Novi Sad, 21000<br />
            <abbr title="Phone">Tel:</abbr>
            +381612345678
        </address>
        <h4>Novi Sad 2</h4>
        <address>
            Bulevar Evrope 121,<br />
            Novi Sad, 21000<br />
            <abbr title="Phone">Tel:</abbr>
            +381612345679
        </address>
        <h4>Radno vreme:</h4>
        <ul>
            <li>Radni dan: <strong> 08.00-17.00</strong></li>
            <li>Subota: <strong> 08.00-13.00</strong></li>
            <li>Nedelja: <strong> NERADNA</strong></li>
        </ul>

        <address>
            <strong>Email:</strong>   <a href="mailto:travel@gmail.com">travel@gmail.com</a><br />
        </address>

</div>
    
</div>
<div class="col-12 p-4">
    <div class="mx-auto" style="max-width: 500px;">
        <img src="~/images/555 (1).jpg" class="img-fluid" />
    </div>
</div>